---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../posts/*.md");

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
  <section class="page-content">
    <div class="container">
      <Card>
        <a href="/blog" class="btn-astro">Go Blog Page</a>
        <img class="cover-imgage" src={frontmatter.image} />
        <h2 class="blog-title">{frontmatter.title}</h2>
        <div class="blog-info__container">
          <span class="blog-info__date">
            {frontmatter.date}
          </span>
          by
          <span class="blog-info__author">
            {frontmatter.author}
          </span>
        </div>
        <Content />
      </Card>
    </div>
  </section>
</Layout>
<!-- 
: #Static paths function
-->
